
@model ProjeCv.Models.Class1
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Resume - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="~/startbootstrap-resume-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="~/startbootstrap-resume-gh-pages/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/startbootstrap-resume-gh-pages/css/resume.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/startbootstrap-resume-gh-pages/img/fotoSerdar.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Awards & Certificate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/Login/Login">Admin page</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            @foreach (var x in Model.about)
            {
                <div class="w-100">
                    <h1 class="mb-0">
                        @x.Name
                        <span class="text-primary">@x.Surname</span>
                    </h1>
                    <div class="subheading mb-5">
                        @x.Address · @x.Phone ·
                        <a href="mailto:name@email.com">@x.Email</a>
                    </div>
                    <p class="lead mb-5">@x.About</p>
                    <div class="social-icons">
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            }

        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                @foreach (var x in Model.exp)
                {
                    <h2 class="mb-5">Experience</h2>
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0">@x.Title</h3>
                            <div class="subheading mb-3">@x.Subtitle</div>
                            <p>@x.Description</p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">@x.Date</span>
                        </div>
                    </div>
                }
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                @foreach (var x in Model.edu)
                {
                    <h2 class="mb-5">Education</h2>
                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h3 class="mb-0">@x.Title</h3>
                            <div class="subheading mb-3">@x.Subtitle</div>
                            <div>@x.Department</div>
                            <p>GPA: @x.GPA</p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">August 2006 - May 2010</span>
                        </div>
                    </div>
                }
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <i class="fab fa-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-css3-alt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-js-square"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-angular"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-react"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-node-js"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-sass"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-less"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-gulp"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-grunt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-npm"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-java"></i>
                    </li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                @foreach (var x in Model.skills)
                {
                    <ul class="fa-ul mb-0">
                        <li>
                            <i class="fa-li fa fa-check"></i>
                            @x.Skill
                        </li>
                    </ul>
                }
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            @foreach (var x in Model.interest)
            {
                <div class="w-100">
                    <h2 class="mb-5">Interests</h2>
                    <p>@x.Interest</p>
                    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
                </div>
            }
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                @foreach (var x in Model.awards)
                {
                    <ul class="fa-ul mb-0">
                        <li>
                            <i class="fa-li fa fa-trophy text-warning"></i>
                            @x.Award
                        </li>
                    </ul>
                }

            </div>
        </section>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="~/startbootstrap-resume-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-resume-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/startbootstrap-resume-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/startbootstrap-resume-gh-pages/js/resume.min.js"></script>
</body>
</html>

